.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .container {
        flex-basis: 40%;

        display: grid;
        grid-template-columns: repeat(var(--pieces-per-side), 1fr);
        grid-template-rows: repeat(var(--pieces-per-side), 1fr);

        &.pieces {
            gap: var(--offset-y) var(--offset-x);
            padding-top: calc(var(--pieces-per-side) * var(--offset-y));
        }

        &.puzzle {
            flex-shrink: 0;
            height: 100%;
        }
    }

    .placeholder {
        outline: 1px solid black;
    }

    .hover {
        background-color: var(--color-highlight);
    }
    .piece {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: calc(-1 * var(--offset-y));
            left: calc(-1 * var(--offset-x));
            bottom: calc(-1 * var(--offset-y));
            right: calc(-1 * var(--offset-x));
            background-image: var(--puzzle-image);
            background-position: var(--bg-position-x) var(--bg-position-y);
            background-size: calc(100% * var(--pieces-per-side));
            clip-path: var(--piece-shape);
        }
    }
}

.win {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
