.game {
    --offset: 1rem;

    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .container {
        outline: 1px solid black;
        flex-basis: 100%;

        display: grid;
        grid-template-columns: repeat(var(--pieces-per-side), 1fr);
        grid-template-rows: repeat(var(--pieces-per-side), 1fr);

        &.pieces {
            gap: calc(1.5 * var(--offset));
        }
    }

    .piece {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: calc(-1 * var(--offset));
            left: calc(-1 * var(--offset));
            bottom: calc(-1 * var(--offset));
            right: calc(-1 * var(--offset));
            background-image: var(--puzzle-image);
            background-position: var(--bg-position-x) var(--bg-position-y);
            clip-path: var(--piece-shape);
        }
    }
}
